{% extends '@Game/base.html.twig' %}

{#{% block pagecontentclass %}paper-bg{% endblock %}#}

{% block body %}

<h1 class="no-margin text-black mt-10 mb-10"><i class="icon-stats-growth"></i> Monthly recap for {{ "now"|date("F Y") }}</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-body bg-slate-700" style="background-image: url(http://demo.interface.club/limitless/assets/images/bg.png); -webkit-box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75); box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75);">
                <div class="media no-margin">
                    <div class="media-left media-middle">
                        <i class="icon-user-plus icon-2x"></i>
                    </div>

                    {% if newMembers|length > 0 %}
                    <div class="media-body text-right">
                        <h6 class="media-heading text-semibold">{{ newMembers|length }} new member(s)</h6>
                        <span class="text-muted"><small>Warmly welcome them!</small></span>
                    </div>
                    {% else %}
                    <div class="media-body text-right">
                        <h6 class="media-heading text-semibold">No new member</h6>
                        <span class="text-muted"><small>Maybe later!</small></span>
                    </div>
                    {% endif %}
                </div>
            </div>

            {% if newMembers|length > 0 %}
            <!-- List with text -->
            <div class="panel panel-flat">
                <ul class="media-list media-list-linked media-list-bordered" style="max-height: 500px; overflow-y: auto;">
                    {% for user in newMembers %}
                        <li class="media">
                            <a href="{{ url('userprofile', {username: user.username}) }}" class="media-link">
                                <div class="media-left"><img src="{{ user.profilePicture }}" class="img-circle" alt=""></div>
                                <div class="media-body">
                                    <div class="media-heading text-semibold">{{ user.username }}</div>
                                    <span class="text-muted">Registered on {{ user.getDateRegistered()|date("d/m/Y") }}</span>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /list with text -->
            {% endif %}

        </div>
        <div class="col-md-4">
            <div class="panel panel-body bg-slate-700" style="background-image: url(http://demo.interface.club/limitless/assets/images/bg.png); -webkit-box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75); box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75);">
                <div class="media no-margin">
                    <div class="media-left media-middle">
                        <i class="icon-medal-star icon-2x"></i>
                    </div>

                    <div class="media-body text-right">
                        <h6 class="media-heading text-semibold">Badge champions</h6>
                        <span class="text-muted"><small>They are on fire.</small></span>
                    </div>
                </div>
            </div>

            <!-- List with text -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">Category: <a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                    <div class="heading-elements">
                        <form class="heading-form" action="#">
                            <div class="form-group">
                                <select class="form-control">
                                    <option value="AK">Community</option>
                                    <option value="HI">Hawaii</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="media-list media-list-bordered" style="max-height: 500px; overflow-y: auto;">
                        <li class="media">
                            <div class="media-left"><i class="icon-medal-first icon-2x text-success-800"></i></div>
                            <div class="media-body">
                                <div class="media-heading text-semibold"><span class="label label-success label-rounded">+7 Badges</span></div>
                                <ul class="list-inline list-inline-condensed no-margin-bottom mt-15">
                                    <li><a href="#"><img src="https://avatars.githubusercontent.com/u/301169?v=3" class="img-circle img-xs" alt=""></a></li>
                                    <li><a href="#"><img src="https://avatars.githubusercontent.com/u/301169?v=3" class="img-circle img-xs" alt=""></a></li>
                                    <li><a href="#"><img src="https://avatars.githubusercontent.com/u/301169?v=3" class="img-circle img-xs" alt=""></a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left"><i class="icon-medal-second icon-2x text-success-600"></i></div>
                            <div class="media-body">
                                <div class="media-heading text-semibold"><span class="label label-success label-rounded">+4 Badges</span></div>
                                <ul class="list-inline list-inline-condensed no-margin-bottom mt-15">
                                    <li><a href="#"><img src="https://avatars.githubusercontent.com/u/301169?v=3" class="img-circle img-xs" alt=""></a></li>
                                    <li><a href="#"><img src="https://avatars.githubusercontent.com/u/301169?v=3" class="img-circle img-xs" alt=""></a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left"><i class="icon-medal-third icon-2x text-success-400"></i></div>
                            <div class="media-body">
                                <div class="media-heading text-semibold"><span class="label label-success label-rounded">+1 Badges</span></div>
                                <ul class="list-inline list-inline-condensed no-margin-bottom mt-15">
                                    <li><a href="#"><img src="https://avatars.githubusercontent.com/u/301169?v=3" class="img-circle img-xs mt-5" alt=""></a></li>
                                    <li><a href="#"><img src="https://avatars.githubusercontent.com/u/301169?v=3" class="img-circle img-xs mt-5" alt=""></a></li>
                                    <li><a href="#"><img src="https://avatars.githubusercontent.com/u/301169?v=3" class="img-circle img-xs mt-5" alt=""></a></li>
                                    <li><a href="#"><img src="https://avatars.githubusercontent.com/u/301169?v=3" class="img-circle img-xs mt-5" alt=""></a></li>
                                    <li><a href="#"><img src="https://avatars.githubusercontent.com/u/301169?v=3" class="img-circle img-xs mt-5" alt=""></a></li>
                                    <li><a href="#"><img src="https://avatars.githubusercontent.com/u/301169?v=3" class="img-circle img-xs mt-5" alt=""></a></li>
                                    <li><a href="#"><img src="https://avatars.githubusercontent.com/u/301169?v=3" class="img-circle img-xs mt-5" alt=""></a></li>
                                    <li><a href="#"><img src="https://avatars.githubusercontent.com/u/301169?v=3" class="img-circle img-xs mt-5" alt=""></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /list with text -->

            <div class="panel panel-body bg-primary-600" style="background-image: url(http://demo.interface.club/limitless/assets/images/bg.png); -webkit-box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75); box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75);">
                <div class="media no-margin">
                    <div class="media-left media-middle">
                        <img src="https://avatars.githubusercontent.com/u/301169?v=3" class="img-circle" alt="">
                    </div>

                    <div class="media-body text-right">
                        <h6 class="media-heading text-semibold">Hey {{ app.user.username }},</h6>
                        <span class="text-muted"><small>you unlocked <b>1 badge</b> for this category this month.</small></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-body bg-slate-700" style="background-image: url(http://demo.interface.club/limitless/assets/images/bg.png); -webkit-box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75); box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75);">
                <div class="media no-margin">
                    <div class="media-left media-middle">
                        <i class="icon-fire icon-2x"></i>
                    </div>

                    <div class="media-body text-right">
                        <h6 class="media-heading text-semibold">Most unlocked badges</h6>
                        <span class="text-muted"><small>So much hype.</small></span>
                    </div>
                </div>
            </div>

            <!-- List with text -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">Category: <a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                    <div class="heading-elements">
                        <form class="heading-form" action="#">
                            <div class="form-group">
                                <select class="form-control">
                                    <option value="AK">Community</option>
                                    <option value="HI">Hawaii</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                    <ul class="media-list media-list-linked media-list-bordered">
                        <li class="media">
                            <a href="#" class="media-link">
                                <div class="media-left">
                                    <img src="http://localhost:8000/uploads/game/ninja-training.png" class="img-circle" alt="">
                                </div>

                                <div class="media-body">
                                    <i class="icon-check text-success" style="position: absolute; right: 0; top: 0;"></i>
                                    <h6 class="media-heading">I Love the Smell of Napalm in the Morning</h6>
                                    <span class="text-muted">Unlocked <b>5 times</b></span>
                                </div>
                            </a>
                        </li>

                        <li class="media">
                            <a href="#" class="media-link">
                                <div class="media-left">
                                    <img src="http://localhost:8000/uploads/game/ninja-training.png" class="img-circle" alt="">
                                </div>

                                <div class="media-body">
                                    <h6 class="media-heading">Alas goodness nutria</h6>
                                    <span class="text-muted">Unlocked <b>2 times</b></span>
                                </div>
                            </a>
                        </li>

                        <li class="media">
                            <a href="#" class="media-link">
                                <div class="media-left">
                                    <img src="http://localhost:8000/uploads/game/ninja-training.png" class="img-circle" alt="">
                                </div>

                                <div class="media-body">
                                    <h6 class="media-heading">As across mallard</h6>
                                    <span class="text-muted">Unlocked <b>1 times</b></span>
                                </div>
                            </a>
                        </li>
                    </ul>
            </div>
            <!-- /list with text -->
        </div>
    </div>
{% endblock %}
