{% extends '@Game/base.html.twig' %}

{#{% block pagecontentclass %}paper-bg{% endblock %}#}

{% block body %}

    {{ dump(userBadgeCompletions) }}

<h1 class="no-margin text-black mt-10 mb-10"><i class="icon-stats-growth"></i> Monthly recap for {{ "now"|date("F Y") }}</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-body bg-slate-700" style="background-image: url({{ asset('bundles/game/images/bg.png') }}); -webkit-box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75); box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75);">
                <div class="media no-margin">
                    <div class="media-left media-middle">
                        <i class="icon-user-plus icon-2x"></i>
                    </div>

                    {% if newMembers|length > 0 %}
                    <div class="media-body text-right">
                        <h6 class="media-heading text-semibold">{{ newMembers|length }} new member(s)</h6>
                        <span class="text-muted"><small>Warmly welcome them!</small></span>
                    </div>
                    {% else %}
                    <div class="media-body text-right">
                        <h6 class="media-heading text-semibold">No new member</h6>
                        <span class="text-muted"><small>Maybe later!</small></span>
                    </div>
                    {% endif %}
                </div>
            </div>

            {% if newMembers|length > 0 %}
            <div class="panel panel-flat">
                <ul class="media-list media-list-linked media-list-bordered" style="max-height: 500px; overflow-y: auto;">
                    {% for user in newMembers %}
                        <li class="media">
                            <a href="{{ url('userprofile', {username: user.username}) }}" class="media-link">
                                <div class="media-left"><img src="{{ user.profilePicture }}" class="img-circle" alt=""></div>
                                <div class="media-body">
                                    <div class="media-heading text-semibold">{{ user.username }}</div>
                                    <span class="text-muted">Registered on {{ user.getDateRegistered()|date("d/m/Y") }}</span>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

        </div>
        <div class="col-md-4">
            <div class="panel panel-body bg-slate-700" style="background-image: url({{ asset('bundles/game/images/bg.png') }}); -webkit-box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75); box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75);">
                <div class="media no-margin">
                    <div class="media-left media-middle">
                        <i class="icon-medal-star icon-2x" style="color: #c3c300;"></i>
                    </div>

                    <div class="media-body text-right">
                        <h6 class="media-heading text-semibold">Badge champions</h6>
                        <span class="text-muted"><small>They are on fire.</small></span>
                    </div>
                </div>
            </div>

            <!-- List with text -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">Category: <a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                    <div class="heading-elements">
                        <form class="heading-form" action="#">
                            <div class="form-group">
                                <select class="form-control" name="champions-category">
                                    {% for tag in userTags %}
                                        <option value="{{ tag.code }}">{{ tag.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-body no-margin no-padding">
                    {% for tag in userTags %}
                        {% if badgeChampions[tag.code] is not defined %}
                            <p class="text-muted text-center champions-top-unlock p-15 hide no-margin-bottom" id="champions-{{ tag.code }}">No champion in this category.</p>
                        {% else %}
                            <ul class="media-list media-list-bordered hide champions-top-unlock" id="champions-{{ tag.code }}" style="max-height: 500px; overflow-y: auto;">
                                {% for nbCompletions, champions in badgeChampions[tag.code] %}
                                    {% if loop.index == 1 %}{% set icon = 'first' %}{% endif %}
                                    {% if loop.index == 2 %}{% set icon = 'second' %}{% endif %}
                                    {% if loop.index == 3 %}{% set icon = 'third' %}{% endif %}
                                <li class="media p-15 no-margin-top home-champions-{{ loop.index }}">
                                    <div class="media-left"><i class="icon-medal-{{ icon }} icon-3x"></i></div>
                                    <div class="media-body">
                                        <div class="media-heading text-semibold"><span class="label label-success label-rounded">+{{ nbCompletions }} Badges</span></div>
                                        <ul class="list-inline list-inline-condensed no-margin-bottom mt-15">
                                            {% for user in champions %}
                                                <li><a href="{{ url('userprofile', {username: user.username}) }}" data-popup="tooltip" title="" data-placement="top" data-original-title="{{ user.username }}"><img src="{{ user.profilePicture }}" class="img-circle img-xs mt-5" alt=""></a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- /list with text -->

            {% for tag in userTags %}
                {% if userBadgeCompletions[tag.code] is defined %}
                    {{ tag.code }}
                <div class="panel panel-body bg-primary-600" style="background-image: url({{ asset('bundles/game/images/bg.png') }}); -webkit-box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75); box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75);">
                    <div class="media no-margin">
                        <div class="media-left media-middle">
                            <img src="https://avatars.githubusercontent.com/u/301169?v=3" class="img-circle" alt="">
                        </div>

                        <div class="media-body text-right">
                            <h6 class="media-heading text-semibold">You unlocked <span class="label label-primary label-rounded">{{ userBadgeCompletions[tag.code] }} Badges</span> in this category this month!</h6>
                            <span class="text-muted"><small>Keep going {{ app.user.username }} :)</small></span>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-4">
            <div class="panel panel-body bg-slate-700" style="background-image: url({{ asset('bundles/game/images/bg.png') }}); -webkit-box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75); box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75);">
                <div class="media no-margin">
                    <div class="media-left media-middle">
                        <i class="icon-fire icon-2x"></i>
                    </div>

                    <div class="media-body text-right">
                        <h6 class="media-heading text-semibold">Most unlocked badges</h6>
                        <span class="text-muted"><small>So much hype.</small></span>
                    </div>
                </div>
            </div>

            <!-- List with text -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">Category: <a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                    <div class="heading-elements">
                        <form class="heading-form" action="#">
                            <div class="form-group">
                                <select class="form-control" name="badges-category">
                                    {% for tag in userTags %}
                                    <option value="{{ tag.code }}">{{ tag.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-body no-margin no-padding">
                    {% for tagCode, badgeCompletions in mostUnlockedBadges %}
                        {% if badgeCompletions is empty %}
                            <p class="text-muted text-center badges-top-unlock p-15 hide no-margin-bottom" id="badges-{{ tagCode }}">No badge unlocked in this category.</p>
                        {% else %}
                            <ul class="media-list media-list-linked media-list-bordered hide badges-top-unlock" id="badges-{{ tagCode }}">
                                {% for badgeCompletion in badgeCompletions %}
                                    <li class="media">
                                        <a href="{{ url('viewbadge', {id: badgeCompletion['badge'].id}) }}" class="media-link">
                                            <div class="media-left">
                                                <img src="{{ badgeCompletion['badge'].getImageWebPath() }}" class="img-circle" alt="">
                                            </div>

                                            <div class="media-body">
                                                <h6 class="media-heading">{{ badgeCompletion['badge'].title }}</h6>
                                                <span class="text-muted">Unlocked <b>{{ badgeCompletion['nbCompletions'] }} time(s)</b></span>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- /list with text -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var defaultTag = '{{ userTags[0].code }}';
        var displayBadgesCategory = function (category) {
            $('.badges-top-unlock').addClass('hide');
            $('#badges-' + category).removeClass('hide');
        };
        var displayChampionsCategory = function (category) {
            $('.champions-top-unlock').addClass('hide');
            $('#champions-' + category).removeClass('hide');
        };

        $('select[name="badges-category"]').change(function (e) {
            var category = e.target.value;
            displayBadgesCategory(category);
        });
        $('select[name="champions-category"]').change(function (e) {
            var category = e.target.value;
            displayChampionsCategory(category);
        });

        $(document).ready(function() {
            displayBadgesCategory(defaultTag);
            displayChampionsCategory(defaultTag);
        });
    </script>
{% endblock %}

